.about-info-home{
    text-align: center;
    width: 50%;
    margin: auto;
    line-height: 1.5rem;
    padding: 2rem;
}

@media only screen and (max-width:1000px) {
    .about-info-home{
        width: 85%;
    }
}