.breadcrumb-main{
    background: url('../assests/bg2.jpg');
    background-size: 120% 100%;
    background-position: center;
    /* margin-top: 5px; */
    padding: 5rem 0px;
    padding-top: 0rem;
}

.breadcrumb-navigation{
    color: rgb(173, 173, 173);
}

.breadcrumb-navigation ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: right;
    margin: 0px 1rem;
    font-size: 0.75rem;
    padding: 0.5rem 0px;
}

.breadcrumb-nav-list{
    margin: 0px 0.5rem;
}

.breadcrumb-nav-list .link{
    color: white;
    text-decoration: none;
}

.breadcrumb-red-bg{
    /* background-color: red; */
    background-color: #71064A;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    padding: 0.25rem 0.75rem;
    letter-spacing: 1px;
}

.breadcrumb-second-area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sat-c-area-nav{
    padding: 0.5rem;
    margin: 0.45rem 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 1rem;
    
    /* background-color: rgba(255, 0, 0, 0.61); */
    background-color: #71064ac0;
    
}

.sat-c-area-nav a{
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-decoration: none;
}

.sat-c-logo{
    background: transparent;
}

.sat-c-logo img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


@media only screen and (max-width:1000px) {
    .breadcrumb-second-area{
        flex-direction: column;
    }

    .breadcrumb-logo-area{
        width: 90%;
        margin: 2rem auto;
    }

    .breadcrumb-logo-area img{
        width: 100%;
    }
    .breadcrumb-navigation ul{
        justify-content: center;
        flex-wrap: wrap;
    }

    .breadcrumb-nav-list{
        width: 33%;
        text-align: center;
        margin: 1rem auto;
    }
}