.upper-nav-ul{
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: #070537;
}

.upper-nav-social-media{
    color: white;
}

.upper-nav-social-media svg{
    margin: 0rem 3px;
}

.upper-nav-contact-info{
    color: white;
}

.upper-nav-contact-info a{
    text-decoration: none;
    color: white;
}

Link{
    text-decoration: none;
  }